.privacy-container-template {
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.85);
	color: #aaaaaa;
	opacity: 30;
	filter: alpha(opacity = 50);
 }

#privacy-option-content {
	width: 65%;
	position: absolute;
	color: #000000;
	background-color: #ffffff;
	/* To align popup window at the center of screen*/
	top: 30%;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: -100px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 20px;
	position: relative;
}

@media (max-width: 1024px) {
	#privacy-option-content {
		width: calc(100% - 60px);
	}
}

@media (max-width: 640px) {
	#privacy-option-content {
		width: calc(100% - 10px);
	}
}

.active {
	display: block !important;
}

.wpas-gdpr-tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.wpas-gdpr-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
	transition: 0.3s;
	color: #000;
}
@media (max-width: 640px) {
	.wpas-gdpr-tab button {
		width: 100%;
	}
}

.wpas-gdpr-tab button:hover {
    background-color: #ddd;
}

.wpas-gdpr-tab button.active {
    background-color: #ccc;
}

.wpas-gdpr-tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
	border-top: none;
	animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.hide-the-content {
	position: absolute;
	right: 5px;
	top: 0;
}

.hide-the-content:after {
	color: #777;
	font: 16px/100% arial, sans-serif;
	position: absolute;
	right: 2px;
	top: 6px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	content: '✖'; /* UTF-8 symbol */
}

.wpas-gdpr-tab-content .headlines {
	text-align: left;
}

.wpas-gdpr-notice.success {
	background-color: #46b450;
    color: #ffffff;
    border-left: 0;
}
.wpas-gdpr-notice.failure {
	background-color: #8b0000;
    color: #ffffff;
    border-left: 0;
}
.wpas-gdpr-notice p {
	margin: .5em 0;
    padding: 5px;
}

@media (max-width: 640px) {
	#privacy-option-content {
		height: 100%;
		top: 5px;
		margin-top: 0;
		padding: 20px 15px;
	}

	#privacy-option-content .entry-content {
		height: calc(100% - 50px);
	}

	#privacy-option-content .wpas-gdpr-tab-content {
		overflow-y: auto;
		border: none;
		height: 70%;
		padding: 0;
		margin-top: 10px;
	}

	.wpas-gdpr-tab-content thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	.wpas-gdpr-tab-content tr {
		border: 1px solid #ddd;
		border-bottom: 3px solid #e2e2e2;
		display: block;
		margin-top: .625em;
		background: #fdfdfd;
	}

	.wpas-gdpr-tab-content tr:first-child {
		margin-top: 0;
	}

	.wpas-gdpr-tab-content td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: .8em;
		text-align: right;
		height: 36px;
		line-height: 36px;
		padding: 0 10px;
	}

	.wpas-gdpr-tab-content .form-table {
		margin-bottom: 0;
	}

	.wpas-gdpr-tab-content td::before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}

	.wpas-gdpr-tab-content td:last-child {
		border-bottom: 0;
	}

	.wpas-gdpr-tab-content::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
		border-radius: 0px;
		background-color: #fff;
	}

	.wpas-gdpr-tab-content::-webkit-scrollbar {
		width: 5px;
		background-color: #c7c7c7c7;
	}

	.wpas-gdpr-tab-content::-webkit-scrollbar-thumb {
		border-radius: 1px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #f1f1f1;
	}
}
